{% extends 'layout.html' %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<h2>Recuperar contraseña</h2>
<form method="POST">
    <label for="email">Ingrese su email:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar enlace</button>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="color:green;">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}
